## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [21]:

# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vung Tau,VN,10.3460,107.0843,86.29,71,94,8.75,overcast clouds
1,1,Sabang,ID,5.8933,95.3214,83.59,74,58,15.17,broken clouds
2,2,Port Alfred,ZA,-33.5906,26.8910,55.17,83,0,4.05,clear sky
3,3,Rikitea,PF,-23.1203,-134.9692,74.53,76,10,7.92,clear sky
4,4,Pisco,PE,-13.7000,-76.2167,59.05,88,75,2.30,broken clouds

In [25]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 65
What is your desired maximum temperature for your trip? 90

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vung Tau,VN,10.3460,107.0843,86.29,71,94,8.75,overcast clouds
1,1,Sabang,ID,5.8933,95.3214,83.59,74,58,15.17,broken clouds
3,3,Rikitea,PF,-23.1203,-134.9692,74.53,76,10,7.92,clear sky
7,7,Bathsheba,BB,13.2167,-59.5167,79.41,83,40,11.50,scattered clouds
9,9,Meulaboh,ID,4.1363,96.1285,85.80,65,81,5.50,broken clouds
...,...,...,...,...,...,...,...,...,...,...
834,834,Lodwar,KE,3.1191,35.5973,77.34,56,37,16.42,scattered clouds
835,835,Shunyi,CN,40.1250,116.6453,89.55,51,0,2.24,clear sky
836,836,Kerkini,GR,41.2167,23.0833,80.67,38,0,5.93,clear sky
838,838,Lianran,CN,24.9227,102.4850,79.34,54,77,6.24,broken clouds
840,840,Bud,US,39.4470,-86.1758,73.90,85,55,4.63,broken clouds

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vung Tau,VN,10.3460,107.0843,86.29,71,94,8.75,overcast clouds
1,1,Sabang,ID,5.8933,95.3214,83.59,74,58,15.17,broken clouds
3,3,Rikitea,PF,-23.1203,-134.9692,74.53,76,10,7.92,clear sky
7,7,Bathsheba,BB,13.2167,-59.5167,79.41,83,40,11.50,scattered clouds
9,9,Meulaboh,ID,4.1363,96.1285,85.80,65,81,5.50,broken clouds
...,...,...,...,...,...,...,...,...,...,...
834,834,Lodwar,KE,3.1191,35.5973,77.34,56,37,16.42,scattered clouds
835,835,Shunyi,CN,40.1250,116.6453,89.55,51,0,2.24,clear sky
836,836,Kerkini,GR,41.2167,23.0833,80.67,38,0,5.93,clear sky
838,838,Lianran,CN,24.9227,102.4850,79.34,54,77,6.24,broken clouds
840,840,Bud,US,39.4470,-86.1758,73.90,85,55,4.63,broken clouds

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vung Tau,VN,86.29,overcast clouds,10.3460,107.0843,
1,Sabang,ID,83.59,broken clouds,5.8933,95.3214,
3,Rikitea,PF,74.53,clear sky,-23.1203,-134.9692,
7,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,
9,Meulaboh,ID,85.80,broken clouds,4.1363,96.1285,
12,Grand Gaube,MU,72.37,broken clouds,-20.0064,57.6608,
14,Ust-Nera,RU,72.18,few clouds,64.5667,143.2000,
16,Aksu,CN,86.00,light rain,41.1231,80.2644,
18,Alice Springs,AU,65.75,clear sky,-23.7000,133.8833,
19,Gambela,ET,71.89,light rain,8.2500,34.5833,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vung Tau,VN,86.29,overcast clouds,10.3460,107.0843,Green hotel
1,Sabang,ID,83.59,broken clouds,5.8933,95.3214,Hotel Citra
3,Rikitea,PF,74.53,clear sky,-23.1203,-134.9692,People ThankYou
7,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
9,Meulaboh,ID,85.80,broken clouds,4.1363,96.1285,Kost Pria
...,...,...,...,...,...,...,...
834,Lodwar,KE,77.34,scattered clouds,3.1191,35.5973,Solmar Gracious Hotel
835,Shunyi,CN,89.55,clear sky,40.1250,116.6453,Beijing Mingchen Holiday Hotel
836,Kerkini,GR,80.67,clear sky,41.2167,23.0833,Morfi Hotel
838,Lianran,CN,79.34,broken clouds,24.9227,102.4850,半岛酒店
840,Bud,US,73.90,broken clouds,39.4470,-86.1758,Ted McQuinn Trust

In [38]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))